@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Righteous&display=swap");

// Background
$base: rgba(255, 248, 240, 1);
$accentred: rgba(167, 29, 49, 1);
$accentyellow: rgba(255, 203, 71, 1);
$accentmetal: rgba(25, 47, 56, 1);
$accentblack: rgba(49, 54, 56, 1);
$accentblacktransparent: rgba(49, 54, 56, 0.6);

// Text / Buttons
$textbase: rgba(255, 248, 240, 1);

// Fonts
$fontheading: "Righteous";
$fontbase: "Comfortaa";

// Images
$bghero: "../assets/animebg2cut.png";
