@use "../variables";

.filterbtn:hover {
  background-color: variables.$base;
  color: variables.$accentred;
  border-color: variables.$base;
}


.filterbtn {
  background-color: variables.$accentred;
  color: variables.$base;
  border-color: variables.$accentred;
}

.filterbtnVariant:hover {
  background-color: variables.$base;
  color: darken(variables.$accentyellow, 17.5%);
  border-color: variables.$base;
}

.filterbtnVariant {
  background-color: darken(variables.$accentyellow, 17.5%);
  color: variables.$base;
  border-color: darken(variables.$accentyellow, 17.5%);
}

.accentbtn:hover {
  background-color: variables.$accentred;
  color: variables.$base;
  border-color: variables.$accentred;
}

.accentbtn {
  background-color: variables.$base;
  color: variables.$accentred;
  border-color: variables.$base;
}

.accentbtnVariant:hover {
  background-color: darken(variables.$accentyellow, 17.5%);
  color: variables.$base;
  border-color: darken(variables.$accentyellow, 17.5%);
}

.accentbtnVariant {
  background-color: variables.$base;
  color: darken(variables.$accentyellow, 17.5%);
  border-color: variables.$base;
}

.disabledbutton {
  opacity: 0.45;
  background-color: lighten(variables.$accentblack, 45%);
  border-color: lighten(variables.$accentblack, 45%);
  color: variables.$base;
}

.disabledbutton:hover {
  background-color: lighten(variables.$accentblack, 45%);
  border-color: lighten(variables.$accentblack, 45%);
  cursor: default;
}

.disabledresetbutton {
  opacity: 0.45;
  background-color: lighten(variables.$accentblack, 35%);
  border-color: lighten(variables.$accentblack, 35%);
  color: variables.$base;
}

.disabledresetbutton:hover {
  background-color: lighten(variables.$accentblack, 35%);
  border-color: lighten(variables.$accentblack, 35%);
  cursor: default;
}
